body {
  background-color: rgb(250,240,216);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 13px;
  text-align: center;
}

.red {
  color: red;
  text-decoration: none;
  padding-left: 10px;
}

a:hover {
  color: rgb(15, 15, 15);
}

.upper {
  display: inline-block;
  padding: 6px;
  font-size: 15px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  width: 80%; /* Adjusts width for responsiveness */
  margin: 0 auto; /* Centers the element */
}

.lower {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: red;
  border: 1px solid black;
  width: 80%; /* Adjusts width for responsiveness */
  margin: 0 auto; /* Centers the element with no gap */
  padding: 10px; /* Provides padding within the element */
}

@media (min-width: 768px) {
  /* Larger screens */
  .upper {
    width: auto;
    margin-left: 200px;
    padding-left: 300px;
    padding-right: 250px;
  }

  .lower {
    width: auto;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 195px;
  }
}
